@media screen and (max-width: 800px) {
    .flex-row,
    .flex-item {
        display: block;
        flex: 100%;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    section.flex-row,
    section.flex-item {
        display: block;
    }
}

body {
    background-color: #5126f2;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 0;
}

/* Navigation header section */

nav {
    padding: 10px;
    justify-content: space-between;
}

/* Hero section */

h1 {
    font-size: 22px;
    margin-block-start: 1.9em;
    margin-block-end: 0em;
}

section {
    line-height: 1.5;
    font-size: 16px;
}

#hr {
    border-bottom: #a9cad9 solid 2px;
    margin-bottom: 1%;
}

.bloc_page {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Flex base section */

.flex-row {
    flex-wrap: wrap;
    /* margin-right: 1%;
    margin-left: 1%; */
    display: flex;
}

.flex-header {
    padding: 5% 0%;
    width: 100%;
    flex: 1;
}

.flex-header:nth-child(1) {
    padding-right: 2%;
}

.flex-header:nth-child(2) {
    padding-left: 2%;
    align-self: center;
}

.flex-item {
    padding: 5% 0%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.img-header {
    width: 100%;
}

.section {
    padding: 5%;
    background-color: white;
}

.ads {
    background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_1.png);
    /* background-image: url(../img/ads_1.png); */
    width: 300px;
    height: 250px;
    text-align: center;
    align-self: center;
    /* padding: 2%; */
}

.ads:nth-child(2) {
    background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_2.png);
    /* background-image: url(../img/ads_2.png); */
}

.ads:nth-child(3) {
    background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_3.png);
    /* background-image: url(../img/ads_3.png); */
}

/* Flex Ads 2 section */

.ads-second {
    background-image: url(http://effix-landone.germain.devwebgarneau.com/img/ads_1.png);
    /* background-image: url(../img/ads_1.png); */
    width: 200px;
    height: 200px;
    text-align: center;
    align-self: center;
}

.wrap {
    margin-bottom: 10%;
}

.flex-container {
    font-size: 16px;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Footer section */

.footer {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 100px;
    display: flex;
}

.button {
    background-color: transparent;
    font-size: 23.04px;
    color: #a9cad9;
    border: solid 1px #a9cad9;
    border-radius: 20px;
    padding: 15px;
}

.flex-button {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* Animation survol*/

a {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(to top, #a9cad9 0%, #a9cad9 60%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size 0.5s;
    border-radius: 50px 50px 50px 50px;
    transform-origin: left;
    transform: translateY(-100%) scaleX(-10);
}

a:hover {
    background-size: 100% 100%;
}

/* Animation des images */

.container {
    position: relative;
    width: 100%;
}

.container:nth-child(1) {
    margin-left: 20px;
}

.width50 {
    width: 50%;
    padding: 2.5% 0%;
}

.image {
    opacity: 1;
    display: block;
    width: 93%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-63%, -40%);
    text-align: center;
}
.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}
