<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>" />
    <title>Corpo news</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div id="coreContainer"></div>
</body>

</html>
